.weather-wrapper {
  overflow: hidden;
}

.weather-location-wrapper {
  float: left;
  background-color: #9cc1d6;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: middle;
}

.weather-save {
  float: left;
  margin: 6px 0 0 6px;
}

.weather-result-wrapper {
  margin: 10px;
  width: 30%;
  float: left;
}

.weather-favourites-wrapper {
  width: 60%;
  height: 100px;
  float: right;
  box-sizing: border-box;
  margin: 10px;
}