.header-wrapper {
  padding: 10px 10px 15px;
  height: 20px;
  width: 50%;
  margin: 0 auto;
}

.header-item {
  display: inline;
  margin: 0 10px 0 0;
}

.header-link {
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0 5px 5px 5px;
  color: #000;
}

.header-link:hover, .header-link-active {
  border-bottom: 2px solid #000;
}